.App {
  text-align: center; 
}


.heading {
  font-size: 2.5em;
  margin: -5px;
}

p#sub-heading {
  font-size: 1.25em;
}

#header-icons {
  margin: 10px;
  padding: 10px;
}

.hidden {
  display: none;
  margin: 5px;
}

.email:hover + .hidden {
  display: block;
}

.box {
  padding: 10px;
  margin: 0px;
  margin-bottom: 10px;
  display: flex;
  position: sticky;
  width: 100vw;
  height: auto;
  top: 0;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(30deg, purple, cyan);
}
.avatar {
  align-self: center;
  justify-content: center;
  margin: 5px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  
}

.content {
  padding-left: 1.25em;
  padding-right: 1em;
  text-align: left;
}

